server:
  port: 8095

spring:
  application:
    name: chatbot-service

  cloud:
    config:
      enabled: false

eureka:
  client:
    enabled: false
    service-url:
      defaultZone: http://localhost:8761/eureka/

gemini:
  api:
    key: GOOGLE_API_KEY
  model: gemini-2.5-flash

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: when_authorized
